body  
{  
    margin: 0;  
    padding: 0;  
background-color:white;
    background-image:url('tenor.gif');
    background-size: cover;  
}  
.Forgot_password{
        width: 200px;  
        overflow: hidden;  
        margin: auto;  
        margin: 10 0 0 450px;  
        padding: 80px;  
        color: blue ;  
        border-radius: 17px ;
        padding-left: 7px; 
        style="float: right";
}
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #23463f;  
        border-radius: 15px ;  
          
}     
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Name{  
    width: 300px;  
    height: 30px;  
    border: none;  
    top: 50%;
    left: 50%;
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
} 
#Uname{  
    width: 300px; 
height: 30px; 
    top: 50%;
    left: 50%;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
}  
#Pass{  
    width: 300px;  
    height: 30px; 
    top: 50%;
    left: 50%; 
    border: none;  
    border-radius: 17px;  
    padding-left: 7px; 
} 
#Age{  
    width: 300px;  
    height: 30px;  
    border: none;  
    top: 50%;
    left: 50%;
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  

#Skills{  
    width: 300px;  
    height: 30px;  
    border: none;  
    top: 50%;
    left: 50%;
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: grey;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-color: grey;  
}  